.product-image-section {
  display: inline-block;
  width: 50%;

  padding: 1rem;
  box-sizing: border-box;
}

.product-image {
  max-width: 100%; /* Purpose of adding 'max-width: 100%;' to the image, is to follow the width of its parent div */
}

.product-information-section {
  display: inline-block;
  width: 50%;

  vertical-align: top; /* By default 'display: inline-block' elements align themselves based on the baseline (or located at the bottom, atleast in my case) of the text content. When one of the inline-block elements has significantly more content, it can affect the vertical alignment of the other inline-block elements, to make sure the content go at the top use this command 'vertical-align: top;' */
  padding: 1rem;
  box-sizing: border-box;
}

.product-name {
  font-family: montserrat;
  font-size: 2rem;
  margin: 0;
}

.product-price {
  font-family: montserrat;
  font-size: 1.5rem;
}

.product-shipping-information-header {
  font-family: montserrat;
  font-size: 1.2rem;
  color: gray;
}

.product-shipping-information {
  font-family: montserrat;
  font-size: 1.2rem;
  color: gray;
}

/* Quantity section */

.quantity-tool-main-div {
  display: flex;
  align-items: center;
}

.quantity-tool-subtract {
  font-family: montserrat;
  font-size: 1.5rem;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.quantity-tool-quantity {
  width: 1.2rem; /* I added 'width: 1.5rem;' and removed 'padding-left:1rem' and 'padding-right:1rem' to prevent the quantity tool main div from size changes when quantity increases */
  font-family: montserrat;
  font-size: 1.5rem;

  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.quantity-tool-add {
  font-family: montserrat;
  font-size: 1.5rem;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.add-to-cart-button {
  cursor: pointer;
  color: white;
  background-color: black;
  border: 1px solid gray;
  font-family: montserrat;
  border-radius: 2px;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.product-information-quantity-header {
  font-family: montserrat;
  font-size: 1.2rem;

  margin-bottom: 0.5rem;
}
